a img {
    width: 100%;
    height: 100%;
}

a {
    width: 2%;
    height: 2%;
}

.right-side {
    float: right;
}

#cart-right {
    /* border: 2px solid yellow; */
    width: 100%;
}

.nav-link {
    /* border: 2px solid yellow; */
    width: fit-content;
}

#cart-right ul{
    float: right;
}

.navbar {
    border-radius: 20px;
}