<form>

    <div class="signup-header">Login</div>

    <div id="formBox">
        <div class="line">
            <label>Username: </label><input id="usernameInput" />
        </div>

        <div class="line">
            <label>Password: </label><input id="PWInput" />
        </div>
    </div>

    <button onclick="alert('Form Submitted!')">Submit</button>

    <div>
        <a routerLink="/signup" routerLinkActive="active" ariaCurrentWhenActive="page">Create an Account</a>
    </div>

</form>