.content {
    text-align: center;
    display: grid;
    place-items: center;
    /* border: 2px solid green; */

}

app-navigation-bar {
    margin-bottom: 100px;
}

main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
}