

<form>

    <div class="signup-header">Create Account</div>

    <div id="formBox">
        <div class="line">
            <label>First Name: </label><input id="fnameInput" />
        </div>
    
        <div class="line">
            <label>Last Name: </label><input id="lnameInput" />
        </div>
    
        <div class="line">
            <label>Email: </label><input id="emailInput" />
        </div>
    
        <div class="line">
            <label>Phone Number: </label><input id="phoneInput" />
        </div>
    
        <div class="line">
            <label>Address: </label><input id="addressInput" />
        </div>
    
        <div class="line">
            <label>Date of Birth: </label><input id="DOBInput" />
        </div>

        <div class="line">
            <label>Password: </label><input type="password" id="PWInput" />
        </div>
    </div>

  

    <button onclick="alert('Form Submitted!')">Submit</button>

</form>